@using ZombieDiceLibrary

@*
    Displays the picked dice or result of the dice roll as a list of dice.
*@

<div class="dice my-1">
    @if (Dice is not null)
    {
        @foreach (var die in Dice)
        {
            <DieDisplay Die="@die"></DieDisplay>
        }
    }

</div>

@code {
    [Parameter]
    public ICollection<Die>? Dice { get; set; }
}
