<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/3b145e60-90cd-4bda-aff0-d0f3b64bce82/resourcegroups/ZombieDiceLibrary20230227004308ResourceGroup/providers/Microsoft.ContainerRegistry/registries/ZombieDiceLibrary20230227004308</ResourceId>
    <ResourceName>ZombieDiceLibrary20230227004308</ResourceName>
    <ResourceGroup>ZombieDiceLibrary20230227004308ResourceGroup</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://zombiedicelibrary20230227004308.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <_TargetId>AzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>