@inherits LayoutComponentBase

<PageTitle>ZombieDice</PageTitle>

<div class="container-fluid zombie_top border border-1 border-dark">
    <h1 class="zombie_heading">Zombie dice</h1>
</div>

<div class="container-lg mt-2">
    @Body
</div>
